*CMakeFiles/*
**/CMakeFiles/*
**/cmake_install.cmake
meteoio/**/Makefile
lib/*.so*
**/*~

/CMakeCache.txt
/CMakeDoxyfile.in
/CMakeDoxygenDefaults.cmake
/CPackConfig.cmake
/CPackSourceConfig.cmake
/cmake_uninstall.cmake
/bin/meteoio_timeseries
/applications/Makefile
/meteoio/IOHandler.cc
/Makefile
/doc/html/*

*.swp
